.service-card {
  position: relative;
  overflow: hidden;
  border-radius: 22px;
  height: 350px;
  perspective: 1000px;
  cursor: pointer;
}

.service-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s ease;
  transform-style: preserve-3d;
}

.service-card:hover .service-card-inner {
  transform: rotateY(180deg);
}

.service-card-front,
.service-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 22px;
  backface-visibility: hidden;
  overflow: hidden;
}

.service-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.service-footer {
  position: absolute;
  bottom: 5px;
  left: 16px;
  right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 500;
  z-index: 2;
}

.service-footer span {
  background: #fff;
  color: #00578c;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.service-icon {
  background: #00578c;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card-back {
  background: #00578c;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: rotateY(180deg);
}

.service-card-back h4 {
  font-weight: 700;
  margin-bottom: 12px;
}

.service-card-back ul {
  padding-left: 18px;
  margin-bottom: 0;
}

.service-card-back li {
  margin-bottom: 6px;
}

.custom-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-icon {
  color: #fff;
  font-size: 16px;
  flex-shrink: 0;
}

.custom-list li {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  gap: 8px;
}

.custom-list span {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 14px;
}