/* NAVBAR */
.custom-navbar {
  border-bottom: 1px solid #eee;
}

/* LOGO */
.navbar-logo {
  height: 70px;
}

/* LINKS */
.navbar-nav .nav-link {
  color: #333;
  font-weight: 500;
  padding: 10px 14px;
  position: relative;
  transition: 0.3s;
  font-size: 16px;
}

/* ACTIVE + HOVER COLOR */
.navbar-nav .nav-link:hover,
.navbar-nav .active-link {
  color: #00578c;
}

/* DROPDOWN LINK */
.dropdown-link {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* ARROW */
.dropdown-icon {
  font-size: 11px;
  transition: transform 0.3s;
}

.rotate {
  transform: rotate(180deg);
}

/* DESKTOP HOVER */
@media (min-width: 992px) {
  .nav-item.dropdown:hover>.dropdown-menu {
    display: block;
  }
}

/* DROPDOWN MENU */
.modern-dropdown {
  border: none;
  border-radius: 12px;
  padding: 10px 0;
  min-width: 230px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

/* ITEMS */
.modern-dropdown .dropdown-item {
  padding: 10px 22px;
  font-weight: 500;
  transition: 0.2s;
}

.modern-dropdown .dropdown-item:hover {
  background: #f4f9fd;
  color: #00578c;
}

/* LINKEDIN */
.linkedin-btn {
  width: 38px;
  height: 38px;
  background: #00578c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.linkedin-btn:hover {
  background: #00578c;
}

/* MOBILE */
@media (max-width: 991px) {
  .navbar-nav {
    background: #fff;
    padding: 15px 0;
  }

  .navbar-nav .nav-link {
    padding: 12px 20px;
  }

  .navbar-nav .nav-link::after {
    display: none;
  }

  .dropdown-menu {
    position: static;
    display: none;
    box-shadow: none;
    border-radius: 0;
  }

  .dropdown.show .dropdown-menu {
    display: block;
  }
}